.main-section2 {
  padding-top: calc(32 * var(--desktopProportions));
  padding-bottom: calc(42 * var(--desktopProportions));
  position: relative;
  background-color: var(--lightBrownColor);
}

.main-section2.dark {
  background-color: var(--brownDarkColor);
}

.main-section2-header {
  margin-bottom: calc(23 * var(--desktopProportions));
}

.main-section2-header::after {
  background-color: var(--orangeBrownColor);
  margin-top: calc(4 * var(--desktopProportions));
}

.main-section2-header.dark::after {
  background-color: var(--lightOrangeBrownColor);
}

.main-section2-buttons-row1 {
  margin-bottom: calc(32 * var(--desktopProportions));
}

.main-section2-buttons-row1,
.main-section2-buttons-row2 {
  display: flex;
  justify-content: center;
}

.main-section2-buttons-ua,
.main-section2-buttons-eng {
  margin-right: calc(24 * var(--desktopProportions));
}

.main-section2-buttons-item-button {
  font-family: Jura;
  font-size: calc(30 * var(--desktopProportions));
  font-style: normal;
  font-weight: 400;
  line-height: calc(50 * var(--desktopProportions));
  letter-spacing: 0em;
  text-align: center;
  background-color: var(--orangeBrownColor);
  color: var(--lightBrownColor);
  cursor: pointer;
  transition: color 250ms, padding-left 250ms, padding-right 250ms,
    font-size 250ms ease;
  padding-left: calc(15 * var(--desktopProportions));
  padding-right: calc(15 * var(--desktopProportions));
  border-radius: 20px;
}

.main-section2-buttons-item-button.dark {
  background-color: var(--brownOrangeDarkColor);
  color: var(--lightOrangeBrownColor);
}

.main-section2-buttons-item-button:hover {
  color: #693505;
  transition: color 500ms, padding 500ms, font-size 500ms ease;
  padding: calc(15 * var(--desktopProportions)) calc(25 * var(--desktopProportions))
    calc(15 * var(--desktopProportions)) calc(25 * var(--desktopProportions));
  font-size: calc(40 * var(--desktopProportions));
}

.main-section2-buttons-item-button:hover.dark {
  color: var(--superLightOrangeBrownColor);
  background-color: var(--brownOrangeLightColor);
  border-radius: 35px;
  transition: color 500ms, padding 500ms,
    font-size 500ms background-color 500ms border-radius 500ms ease;
}
